# Program for subtraction of complex numbers

In [4]:
import cmath 
import math 


a=complex(input("Enter the first number-"))  
b=complex(input("Enter the second number-"))

z=complex(a-b)
print(z)

Enter the first number-5+2j
Enter the second number-5+3j
-1j

# Program for fourth root of a number

In [21]:
import math


x=float(input("Enter a number:"))

root=x**(1/4)

print(root)

Enter a number:16
2.0

# Program to swap two numbers using temporary variable

In [15]:
num1=int(input("Enter a number-"))
num2=int(input("Enter a number-"))

print("Value of num1 before swapping: ", num1)
print("Value of num2 before swapping: ", num2)

temp=num1
num1=num2
num2=temp

print("Value of num1 after swapping: ", num1)
print("Value of num2 after swapping: ", num2)

Enter a number-2
Enter a number-8
Value of num1 before swapping:  2
Value of num2 before swapping:  8
Value of num1 after swapping:  8
Value of num2 after swapping:  2

# Program to swap two number without using temporary variable

In [25]:
num1=int(input("Enter a number:"))
num2=int(input("Enter a number:"))

num1,num2 = num2,num1

print("After swapping num1=",num1)
print("After swapping num2=",num2)

Enter a number:45
Enter a number:23
After swapping num1= 23
After swapping num2= 45

# Program to convert farhenhiet to kelvin and celsius

In [26]:
f = float(input("Enter the temperature in Farhenhiet:"))

c=(f-32)*5/9
k=(f+459.67)*5/9

print("when converted to celsius it is:",c,"degrees")
print("when converted to kelvin it is:",k,"degrees")

Enter the temperature in Farhenhiet:30
when converted to celsius it is: -1.1111111111111112 degrees
when converted to kelvin it is: 272.0388888888889 degrees

# program to demonstrate all the available data types in Python.

In [27]:
a=25
type(a)

int

In [28]:
b='Lets Upgrade'
type(b)

str

In [29]:
c=34.56
type(c)

float

In [30]:
d=3+5j
type(d)

complex

In [31]:
e=[1,2,3,4,5,6,7]
type(e)

list

In [32]:
f=(2,'james',34,53)
type(f)

tuple

In [33]:
g={"apple", "banana", "cherry"}
type(g)

set

In [34]:
h=True
type(h)

bool

In [35]:
i={"name" : "John", "age" : 36}
type(i)

dict