In [1]:
import pandas as pd

In [2]:
P=[5, 4, 4, 3, 9, 4]
J=[4, 8, 7, 5, 1, 5]
A=[9, 9, 8, 10, 4, 10]

In [3]:
all_scores=P+J+A
Names=(['Patrick'] * len(P)) +  (['Jack'] * len(J)) +  (['Alex'] * len(A))

In [4]:
data = pd.DataFrame({'Archer':Names , 'score': all_scores})

In [5]:
data

     Archer  score
0   Patrick      5
1   Patrick      4
2   Patrick      4
3   Patrick      3
4   Patrick      9
5   Patrick      4
6      Jack      4
7      Jack      8
8      Jack      7
9      Jack      5
10     Jack      1
11     Jack      5
12     Alex      9
13     Alex      9
14     Alex      8
15     Alex     10
16     Alex      4
17     Alex     10

In [6]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [7]:
lm=ols('score ~ Archer',data=data).fit()
table=sm.stats.anova_lm(lm)
print(table)

            df     sum_sq    mean_sq         F    PR(>F)
Archer     2.0  46.777778  23.388889  4.488273  0.029668
Residual  15.0  78.166667   5.211111       NaN       NaN

As 0.02 < 0.05 we reject the null hypothesis and we conclude that at least one of the means is different from at least one other population mean

In [8]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison


mc = MultiComparison(data['score'], data['Archer'])
result = mc.tukeyhsd()

print(result)
print(mc.groupsunique)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1  group2 meandiff p-adj   lower  upper  reject
----------------------------------------------------
  Alex    Jack  -3.3333 0.0568 -6.7554 0.0887  False
  Alex Patrick     -3.5 0.0447  -6.922 -0.078   True
  Jack Patrick  -0.1667    0.9 -3.5887 3.2554  False
----------------------------------------------------
['Alex' 'Jack' 'Patrick']

The results above reveal that Alex significantly differs from the other two archers. The third column tells us that there is significant evidence to reject the null hypothesis for the groups Alex-Jack and Alex-Pat

In [ ]:
htt