In [1]:
import os
os.chdir('F:\dataset')
import pandas as pd

In [2]:
df=pd.read_csv('cars.csv')
X=df[['Weight','Volume']]
y=df[['CO2']]

In [3]:
X

    Weight  Volume
0      790    1000
1     1160    1200
2      929    1000
3      865     900
4     1140    1500
5      929    1000
6     1109    1400
7     1365    1500
8     1112    1500
9     1150    1600
10     980    1100
11     990    1300
12    1112    1000
13    1252    1600
14    1326    1600
15    1330    1600
16    1365    1600
17    1280    2200
18    1119    1600
19    1328    2000
20    1584    1600
21    1428    2000
22    1365    2100
23    1415    1600
24    1415    2000
25    1465    1500
26    1490    2000
27    1725    2000
28    1523    1600
29    1705    2000
30    1605    2100
31    1746    2000
32    1235    1600
33    1390    1600
34    1405    1600
35    1395    2500

In [4]:
X,y

(    Weight  Volume
 0      790    1000
 1     1160    1200
 2      929    1000
 3      865     900
 4     1140    1500
 5      929    1000
 6     1109    1400
 7     1365    1500
 8     1112    1500
 9     1150    1600
 10     980    1100
 11     990    1300
 12    1112    1000
 13    1252    1600
 14    1326    1600
 15    1330    1600
 16    1365    1600
 17    1280    2200
 18    1119    1600
 19    1328    2000
 20    1584    1600
 21    1428    2000
 22    1365    2100
 23    1415    1600
 24    1415    2000
 25    1465    1500
 26    1490    2000
 27    1725    2000
 28    1523    1600
 29    1705    2000
 30    1605    2100
 31    1746    2000
 32    1235    1600
 33    1390    1600
 34    1405    1600
 35    1395    2500,
     CO2
 0    99
 1    95
 2    95
 3    90
 4   105
 5   105
 6    90
 7    92
 8    98
 9    99
 10   99
 11  101
 12   99
 13   94
 14   97
 15   97
 16   99
 17  104
 18  104
 19  105
 20   94
 21   99
 22   99
 23   99
 24   99
 25  102
 26  104
 27  114
 28  109
 29  114
 30  115
 31  117
 32  104
 33  108
 34  109
 35  120)

In [5]:
from sklearn import linear_model

In [6]:
reg=linear_model.LinearRegression()

In [7]:
reg.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
predictedCO2=reg.predict([[2300,1300]])

In [9]:
predictedCO2

array([[107.2087328]])

In [13]:
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
df = pd.read_csv("cars1.csv")

X = df[['Weight', 'Volume']]
scaledX = scale.fit_transform(X)

print(scaledX)


regr = linear_model.LinearRegression()
regr.fit(scaledX, y)

[[-2.10389253 -1.59336644]
 [-0.55407235 -1.07190106]
 [-1.52166278 -1.59336644]
 [-1.78973979 -1.85409913]
 [-0.63784641 -0.28970299]
 [-1.52166278 -1.59336644]
 [-0.76769621 -0.55043568]
 [ 0.3046118  -0.28970299]
 [-0.7551301  -0.28970299]
 [-0.59595938 -0.0289703 ]
 [-1.30803892 -1.33263375]
 [-1.26615189 -0.81116837]
 [-0.7551301  -1.59336644]
 [-0.16871166 -0.0289703 ]
 [ 0.14125238 -0.0289703 ]
 [ 0.15800719 -0.0289703 ]
 [ 0.3046118  -0.0289703 ]
 [-0.05142797  1.53542584]
 [-0.72580918 -0.0289703 ]
 [ 0.14962979  1.01396046]
 [ 1.2219378  -0.0289703 ]
 [ 0.5685001   1.01396046]
 [ 0.3046118   1.27469315]
 [ 0.51404696 -0.0289703 ]
 [ 0.51404696  1.01396046]
 [ 0.72348212 -0.28970299]
 [ 0.8281997   1.01396046]
 [ 1.81254495  1.01396046]
 [ 0.96642691 -0.0289703 ]
 [ 1.72877089  1.01396046]
 [ 1.30990057  1.27469315]
 [ 1.90050772  1.01396046]
 [-0.23991961 -0.0289703 ]
 [ 0.40932938 -0.0289703 ]
 [ 0.47215993 -0.0289703 ]
 [ 0.4302729   2.31762392]]

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
scaled = scale.transform([[2300, 1.3]])

In [15]:
predictedCO2 = regr.predict([scaled[0]])
print(predictedCO2)

[[107.2087328]]