In [1]:
import pandas as pd

In [3]:
s=pd.Series([10,20,30],index=["a","b","c"])

In [4]:
s

a    10
b    20
c    30
dtype: int64

In [16]:
data={'name':['xx','yy','zz'],'Age':[20,30,40],'sex':['m','m','f']}
data

{'name': ['xx', 'yy', 'zz'], 'Age': [20, 30, 40], 'sex': ['m', 'm', 'f']}

In [18]:
d=pd.DataFrame(data)
d

  name  Age sex
0   xx   20   m
1   yy   30   m
2   zz   40   f

In [19]:
import os

In [1]:
%matplotlib inline

ratings.hist(column='rating', figsize=(15,10))

NameError: name 'ratings' is not defined

In [2]:
import matplotlib as mpl
import